html, body {
  height: 100%;
  width: 100%;
}

body, .leaflet-container {
  font: 14px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  font-weight: 600;
}

.container-fluid {
  height: 80%;
}

.map-container {
  height: 90%;
}

#map {
  height: 100%;
}

#map {
  margin: 10 auto;
  width: 100%;
}

.time-header {
  text-align: center;
}

.d3-map path {
  fill: #000;
  fill-opacity: 0;
  stroke: #fff;
  stroke-width: 0;
}

.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    max-width: 250px;
}
.info h4 {
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: bold;
}
.info i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}
.info p svg {
  margin-right: 8px;
}

footer {
  height: 25px;
}
