html, body, .main-container {
  width: 100%;
}

.main-container {
  height: 100%;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.navbar {
  border-radius: 0;
}

/* Reducing Leaflet control z-index so that it's covered by nav */
.leaflet-top.leaflet-left, .leaflet-top.leaflet-right {
  z-index: 1;
}

.navbar-default, div.navbar-header, div.navbar-collapse {
  background-color: #6095c8;
  border: none;
}

.navbar-default .navbar-nav>li>a, .navbar-default a.navbar-brand {
  color: #F4F4F4;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default a.navbar-brand:hover {
  color: #dbdbdb;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #F4F4F4;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: inherit;
}

.navbar-default .navbar-toggle, .navbar-header {
  border: none;
}

.navbar-collapse>ul>li {
  text-align: right;
}

/* Reducing Leaflet control z-index so that it's covered by nav */
.leaflet-top.leaflet-left, .leaflet-top.leaflet-right {
  z-index: 1;
}

.top-legend {
  top: 50px;
}

.top-legend.viz-splash {
  right: 50%;
}

#info {
  position: absolute;
  top: 65px;
  right: 15px;
}

#info.viz-splash {
  right: 52%;
}

label {
  font-weight: 600;
}

#info {
  z-index: 10;
}

#info p {
  font-size: 12px;
}

#info path {
  fill: #F4F4F4;
}

#info:hover circle {
  fill: #565555;
}

#map {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
}

#map.viz-splash {
  right: 50%;
}

#splash-button {
  display: none;
}

.viz-right {
  position: absolute;
  left: 50%;
  top: 50px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.table {
  margin-bottom: 0;
  margin-top: 15px;
}

.table>tbody>tr>td {
  border-top: none;
  padding: 5px;
}

.time-header {
  text-align: center;
}

.d3-map path.rain-cell {
  fill: #000;
  fill-opacity: 0;
  stroke: #fff;
  stroke-width: 0;
}

#date {
  font-size: 18px;
  font-weight: 500;
}

.info {
  padding: 6px 8px;
  background: rgba(255,255,255,0.7);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 450px;
}
.info h4 {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: bold;
}
.info i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}
.info p svg {
  margin-left: 10px;
}

footer {
  height: 25px;
}

div.time-chart {
  position: absolute;
  bottom: 25px;
  right: 15px;
  left: 15px;
  height: 100px;
  background: rgba(255,255,255,0.4);
}

div.time-chart.viz-splash {
  right: 52%;
  left: 2%;
}

.axis.time-chart {
  shape-rendering: crispEdges;
}

.x.axis.time-chart line {
  stroke: lightgrey;
}

.x.axis.time-chart .minor {
  stroke-opacity: .5;
}

.x.axis.time-chart path {
  display: none;
}

.y.axis.time-chart line, .y.axis path {
  fill: steelblue;
  stroke: #000;
}

path.time-chart {
  stroke-width: 2;
  fill-opacity: 0;
}

path.precip-data {
	stroke: steelblue;
}
path.call-data {
  stroke: #c91a1a;
}
.time-chart g path.cso-data {
  stroke: #f39c12;
}

@media (max-width: 400px) {
  .info {
    max-width: 250px;
  }
}

@media (max-width: 775px) {
  #map.viz-splash,
  #info.viz-splash,
  .top-legend.viz-splash,
  .time-chart.viz-splash {
    display: none;
  }
  .viz-right {
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
    overflow-y: none;
  }
  #splash-button {
    display: inherit;
    text-align: center;
    font-weight: bold;
  }
}
