html, body {
  height: 100%;
  width: 100%;
}

#map {
  margin: 10 auto;
  width: 500px;
  height: 500px;
  float: left;
}

.d3-map path {
  fill: #000;
  fill-opacity: .2;
  stroke: #fff;
  stroke-width: 0;
}

.d3-map path:hover {
  fill: blue;
  fill-opacity: .7;
}

footer {
  height: 25px;
}
