<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="icon" href="{{ site.baseurl }}/img/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico" type="image/x-icon"/>
  <title>{{ site.title }}</title>
  <meta charset='utf-8' />
  <!-- Placeholder metadata -->
  <meta content="{{ site.description }}" name='description' />
  <!-- Facebook metadata -->
  <meta content="{{ site.title }}" property="og:site_name">
  <meta content="{{ site.title }}" property="og:title">
  <meta content="website" property="og:type">
  <meta content="{{ site.description }}" property="og:description">
  <meta content="{{ site.url }}{{ site.baseurl }}" property="og:url">
  <!-- <meta content="{{ site.url }}{{ site.baseurl }}/img/logo.png" property="og:image"> -->
  <!-- Twitter metadata -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.title }}">
  <meta name="twitter:creator" content="{{ site.title }}">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:url" content="{{ site.url }}{{ site.baseurl }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <!-- <meta name="twitter:image:src" content="{{ site.url }}{{ site.baseurl }}/img/logo.png"> -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/leaflet.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
