<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar icon-main"></span>
        <span class="icon-bar icon-main"></span>
        <span class="icon-bar icon-main"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.baseurl }}/">Time Lapse</a></li>
        <li><a href="{{ site.baseurl }}/flooding">Basement Flooding</a></li>
      </ul>
    </div>
  </div>
</nav>
