<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <title>{{ site.title }}</title>
  <meta charset='utf-8' />
  <!-- Placeholder metadata -->
  <meta content="{{ site.description }}" name='description' />
  <!-- Facebook metadata -->
  <meta content="{{ site.title }}" property="og:site_name">
  <meta content="{{ site.title }}" property="og:title">
  <meta content="website" property="og:type">
  <meta content="{{ site.description }}" property="og:description">
  <meta content="{{ site.url }}{{ site.baseurl }}" property="og:url">
  <!-- <meta content="{{ site.url }}{{ site.baseurl }}/img/logo.png" property="og:image"> -->
  <!-- Twitter metadata -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.title }}">
  <meta name="twitter:creator" content="{{ site.title }}">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:url" content="{{ site.url }}{{ site.baseurl }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <!-- <meta name="twitter:image:src" content="{{ site.url }}{{ site.baseurl }}/img/logo.png"> -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" /> -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/leaflet.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.js"></script>
  <!-- Doesn't work with Leaflet 1.0, will have to figure out why -->
  <!-- <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script> -->
  <script src="{{ site.baseurl }}/js/leaflet.js"></script>
  <!-- <script src="{{ site.baseurl }}/js/d3.min.js"></script> -->
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="{{ site.baseurl }}/js/leaflet_canvas_layer.js"></script>
</head>
